div.Searchresult {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  width: 100%;
  font-size: 20px;
}

#error {
  width: 100%;
}

.WeatherItem {
  border-radius: 2px;
  padding: 10px;
  color: var(--weather-item-info);
  margin: 0px 15px 30px 15px;
  min-width: 31%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(132, 255, 161, 0.789);
  box-sizing: border-box;
}

.WeatherItem > div {
  margin-right: 30px;
}

.HighTemperature {
  background-color: var(--red);
}

.MediumTemperature {
  background-color: var(--yellow);
}

.LowTemperature,
.Raining {
  background-color: var(--blue) !important;
}

.DeleteButton {
  display: block;
  align-self: flex-start;
  background: transparent;
  border: none;
  cursor: pointer;
}

.DeleteButton::before {
  display: block;
  content: "";
  background-color: transparent;
  border-radius: 15px;
  background-image: url("../../assets/Delete.svg");
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
}

.AddButton {
  display: block;
  align-self: flex-start;
  background: transparent;
  border: none;
  cursor: pointer;
}

.AddButton::before {
  display: block;
  content: "";
  background-color: white;
  border-radius: 15px;
  background-image: url("../../assets/AddBlack.svg");
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  padding: 7.5px;
}

.Degrees,
.NameOfCity {
  width: 150px;
}

.Degrees {
  font-size: 62px;
}

.NameOfCity {
  font-weight: 900;
  text-transform: uppercase;
}

@media only screen and (max-width: 1104px) {
  .DeleteIcon,
  .AddIcon {
    margin-left: auto;
  }
}

@media only screen and (max-width: 769px) {
  .WeatherItem {
    margin: 0px 20px 20px 20px;
  }
}

@media only screen and (max-width: 430px) {
  .WeatherItem {
    margin: 0px 0px 20px 0px;
    width: 360px;
  }

  .WeatherItem > div {
    margin-right: 0px;
  }

  .NameOfCity {
    font-size: 14px;
  }

  .Degrees {
    font-size: 46px;
  }

  .Degrees,
  .NameOfCity {
    width: 100px;
  }
}

@media only screen and (max-width: 376px) {
  .WeatherItem {
    width: 90%;
  }
}
