:root {
  --main-bg-color: #eeeeee;
  --main-font-color: #000000;
  --weather-item-info: #ffffff;
  --yellow: #fac710;
  --blue: #2d9bf0;
  --red: #f24726;
  --fallback: #78d68e;
}

body {
  background-color: var(--main-bg-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

div.App {
  width: 100%;
  /* margin: 200px 120px 0px 120px; */
  min-height: 100vh;
  margin-top: 400px;
  /* display: flex;
  flex-direction: column; */
  /* box-sizing: border-box; */
  font-size: 20px;
}

/* @media only screen and (max-width: 769px) {
  div.App {
    margin: 20px;
  }
} */

@media only screen and (max-width: 430px) {
  div.App {
    margin: 50px 10px 0px 10px !important;
  }
}
