.Container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.Container > div {
    width: 33%;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .Container {
        flex-direction: column;
        align-items: center;
    }

    .Container > div {
        width: 100%;
        margin-top: 15px;
    }
}