h1 {
  font-weight: 700;
  font-size: 32px;
}

form {
  width: 80%;
  max-width: 800px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: white;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px 20px 30px;
}

#InputContainer {
  width: fit-content;
  margin-right: 10px;
  font-weight: 900;
}

input {
  display: inline;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-font-color);
  width: inherit;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.SaveSearch {
  background: transparent;
  border: none;
  margin-left: auto;
  font-size: 20px;
  font-weight: 900;
  cursor: text;
  width: fit-content;
  text-align: -webkit-right;
  box-sizing: inherit;
}

.SaveSearch.disabled::before {
  background-image: url("../../assets/AddDisabled.svg");
  cursor: text;
}

.SaveSearch::before {
  display: block;
  content: "";
  background-image: url("../../assets/AddBlack.svg");
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 376px) {
  input {
    width: 50%;
  }
}
