.Container {
    display: flex;
}

.Column {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}