.Container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;    
}

.Label {
    font-weight: bold;
    padding-right: 1em;
}

.Input {
    border-color: transparent;
}


/* Design, baby! */
.ErrorContainer {
    background-color: red;
    color: white;
    padding: 8px;
}