.Card {
    padding: 8px;
}

.Yellow {
    color: white;
    background-color: #FAC710;
}

.Blue {
    color: white;
    background-color: #2D9BF0;
}

.Red {
    color: white;
    background-color: #F24726;
}