.Card {
    padding: 8px;
    border: 1px solid black;
    margin: 4px;
}

.Yellow {
    color: white;
    background-color: rgb(218, 196, 32);
}

.Blue {
    color: white;
    background-color: rgba(25, 48, 181, 0.824)
}

.Red {
    color: white;
    background-color: rgb(180, 16, 16);
}