@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
